<!DOCTYPE html>
<html>
  {% include 2019_data/head.html %}

	
    <body id="page-top" class="index">

    {% include 2019_data/header-home.html %}

    <!-- Header -->
	<meta http-equiv="refresh" content="0; url=https://sciencebowlcanada.wixsite.com/calgary">
    <header>
        <div class="container">
            <div class="intro-text">
			
                <div class="intro-heading">Science Bowl YYC<br></div>
                <div class="intro-lead-in">Date TBA</div>
                <div class="intro-lead-in">Central Library</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
	
    {% include 2019_data/intro.html %}
    {% include 2019_data/about.html %}
	{% include 2019_data/subjectguides.html %}
    {% include 2019_data/sponsors.html %}
    {% include 2019_data/footer.html %}
    {% include 2019_data/speakers_info.html %}
    {% include 2019_data/js.html %}

    </body>
</html>